<div class="content container pt-8 px-2">
    <div class="wrap-content mb-12">
        <div class="px-2">
            <h1 class="leading-10 py-2 text-2xl">Truyện đề cử</h1>
        </div>

        <ul class="owl-carousel owl-theme owl-loaded px-2">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    {{#each nominations}}
                        <div class="owl-item">
                            <li class="content-item relative rounded-md overflow-hidden">
                                <a href="{{replacePath this.links '/truyen-tranh/' '/comic/'}}" class="absolute top-0 left-0 right-0 bottom-0">
                                    <img class="w-full h-full" src="{{this.images}}" alt="https://i.truyenvua.com/ebook/190x247/de-ba_1648198417.jpg?gf=hdfgdfg&mobile=2" />
                                    <div class="absolute bottom-0 left-0 right-0 top-3/4 text-base content-item-overlay py-2">
                                        <h1 class="px-2 text-white text-ellipsis whitespace-nowrap overflow-hidden hover:text-orange-400">
                                            <span>{{this.names}}</span>
                                        </h1>
                                        <a href="{{replacePath this.linkLastChaps '/truyen-tranh/' '/comic/truyen'}}" class="absolute bottom-2 text-sm px-2 text-white text-ellipsis whitespace-nowrap overflow-hidden hover:text-orange-400">
                                            <span>{{this.chapters}}</span>
                                        </a>
                                    </div>
                                    <div class="absolute top-2 left-2 bg-orange-400 rounded">
                                        <span class="p-4 text-white">{{this.timeAgos}}</span>
                                    </div>
                                </a>
                            </li>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="owl-nav hidden">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
            </div>
            <div class="owl-dots hidden">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
            </div>
        </ul>
    </div>

    <div class="wrap-content">
        <div class="px-2">
            <h1 class="leading-10 py-2 text-2xl">Truyện mới cập nhập</h1>
        </div>
        <ul class="grid mobM-cols-2 grid-cols-3 gap-2 px-2 tab:grid-cols-4 tab:gap-3 des:grid-cols-6">
            {{#each latest}}
                <li class="content-item relative rounded-md overflow-hidden">
                    <a href="{{replacePath this.links '/truyen-tranh/' '/comic/'}}" class="absolute top-0 left-0 right-0 bottom-0">
                        <img class="w-full h-full" src="{{this.images}}" alt="{{this.names}}" />
                        <div class="absolute bottom-0 left-0 right-0 top-3/4 text-base content-item-overlay py-2">
                            <h1 class="px-2 text-white text-ellipsis whitespace-nowrap overflow-hidden hover:text-orange-400">
                                <span>{{this.names}}</span>
                            </h1>
                            <a href="{{replacePath this.linkLastChaps '/truyen-tranh/' '/comic/truyen'}}" class="absolute bottom-2 text-sm px-2 text-white text-ellipsis whitespace-nowrap overflow-hidden hover:text-orange-400">
                                <span>{{this.chapters}}</span>
                            </a>
                        </div>
                        <div class="absolute top-2 left-2 bg-orange-400 rounded">
                            <span class="p-4 text-white">{{this.timeAgos}}</span>
                        </div>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="flex justify-center mt-4">
        <a href="/trang-2.html" class="bg-nav-primary text-white py-2 px-4 rounded-sm">Xem thêm</a>
    </div>
</div>